{% extends 'base.html.twig' %}

{% block title %} ¡Bienvenido! {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="jumbotron">¡Bienvenido a Lmusic!</h1>
    </div>
{% endblock %}