{% extends 'layout.html.twig' %}

{% block title %}
    Lista: {{ cancion.titulo }}
{% endblock %}

{% block content %}
    {% for mensaje in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ mensaje }}
        </div>
    {% endfor %}
    <h1>{{ cancion.titulo }}</h1>

    <div class="alert alert-warning">
        ¿Está seguro de que desea eliminar la canción ? La operación no se puede deshacer.
    </div>
    <form method="post">
        <a href="{{ path('cancion_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de canciones</a>
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar idea</button>
    </form>

{% endblock %}
