{% extends 'layout.html.twig' %}

{% block title 'Listas de música'%}

{% block content %}
    <h1>Todas las listas de Música</h1>

    <table class="table table-bordered table-hover table-striped">
        <thead>

            <th>Nombre</th>
            <th>Propietario</th>
            <th>Pública</th>
            <th>Editar</th>




        </thead>
        <tbody>
            {% for l in listas %}
                <tr>
                    <td>{{ l.nombre }}</td>
                    <td>{{ l.propietario }}</td>
                    <td>{% if l.visible == true  %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
                    <td><a href="{{ path('lista_Mostrar', {'id': l.id }) }}" title="Editar Lista"><i class="fa fa-edit"></i></a></td>

                </tr>
            {% else %}
                            <tr>
                                <td colspan="4">No hay listas de música que mostrar</td>
                            </tr>

            {% endfor %}
        </tbody>


    </table>
{% endblock %}